<div class="tela-cadastro">
      <img class="vector-icon1" alt="" src="assets/vector.svg" />
      <img class="tela-cadastro-child" alt="" src="assets/group-1341.svg" />
      <div class="base1" ></div>
      <div class="nome">
        <b class="nome-completo">Nome completo</b>
        <input type="text" class="sm1llle"required />
        <div class="nome-child" ></div>
      </div>
      <div class="email">
        <b class="nome-completo">Email</b>
        <input type="text" class="sm1llle"required />
        <div class="nome-child" ></div>
      </div>
      <div class="usuario">
        <b class="nome-de-usurio">Nome de usuário</b>
        <b class="josemaria1">&#64;josemaria1</b>
        <b class="disponvel">disponível</b>
        <div class="nome-child" ></div>
      </div>
      <div class="criar-senha">
        <b class="nome-de-usurio">Criar senha</b>
        <b class="josemaria1">************</b>
        <div class="nome-child" ></div>
        <b class="as-senhas-so">as senhas são iguais</b>
      </div>
      <div class="confirmar-senha">
        <b class="nome-de-usurio">Confirmar senha</b>
        <b class="as-senhas-so">as senhas são iguais</b>
        <b class="josemaria1">************</b>
        <div class="nome-child" ></div>
      </div>
      <div class="boto5">
        <div class="boto6" ></div>
        <b class="cadastrar1">Cadastrar</b>
      </div>
      <div class="possuo-cadastro">Possuo cadastro&gt;</div>
      <div class="base1" ></div>
      <div class="nome">
        <b class="nome-completo">Nome completo</b>
        <b class="jos-maria-dos">José Maria dos Santos</b>
        <div class="nome-child" ></div>
      </div>
      <div class="email">
        <b class="nome-completo">Email</b>
        <b class="jos-maria-dos">josemaria&#64;gmail.com</b>
        <div class="nome-child" ></div>
      </div>
      <div class="usuario">
        <b class="nome-de-usurio">Nome de usuário</b>
        <b class="josemaria1">&#64;josemaria1</b>
        <b class="disponvel">disponível</b>
        <div class="nome-child" ></div>
      </div>
      <div class="criar-senha">
        <b class="nome-de-usurio">Criar senha</b>
        <b class="josemaria1">************</b>
        <div class="nome-child" ></div>
        <b class="as-senhas-so">as senhas são iguais</b>
      </div>
      <div class="confirmar-senha">
        <b class="nome-de-usurio">Confirmar senha</b>
        <b class="as-senhas-so">as senhas são iguais</b>
        <b class="josemaria1">************</b>
        <div class="nome-child" ></div>
      </div>
      <div class="boto5">
        <div class="boto6" ></div>
        <b class="cadastrar1">Cadastrar</b>
      </div>
      <div class="possuo-cadastro">Possuo cadastro&gt;</div>
      <div class="base1" ></div>
      <div class="nome">
        <b class="nome-completo">Nome completo</b>
        <b class="jos-maria-dos">José Maria dos Santos</b>
        <div class="nome-child" ></div>
      </div>
      <div class="email">
        <b class="nome-completo">Email</b>
        <b class="jos-maria-dos">josemaria&#64;gmail.com</b>
        <div class="nome-child" ></div>
      </div>
      <div class="usuario">
        <b class="nome-de-usurio">Nome de usuário</b>
        <b class="josemaria1">&#64;josemaria1</b>
        <b class="disponvel">disponível</b>
        <div class="nome-child" ></div>
      </div>
      <div class="criar-senha">
        <b class="nome-de-usurio">Criar senha</b>
        <b class="josemaria1">************</b>
        <div class="nome-child" ></div>
        <b class="as-senhas-so">as senhas são iguais</b>
      </div>
      <div class="confirmar-senha">
        <b class="nome-de-usurio">Confirmar senha</b>
        <b class="as-senhas-so">as senhas são iguais</b>
        <b class="josemaria1">************</b>
        <div class="nome-child" ></div>
      </div>
      <div class="boto5">
        <div class="boto6" ></div>
        <b class="cadastrar1">Cadastrar</b>
      </div>
      <div class="possuo-cadastro">Possuo cadastro&gt;</div>
    </div>