<div class="tela-login">
      <img class="vector-icon" alt="" src="assets/vector.svg" />
      <div class="base" ></div>
      <div class="usurio">
        <b class="usurio1">Usuário</b>
        <input type="text" class="sm1llle"required />
        <div class="usurio-child" ></div>
      </div>
      <div class="senha">
        <b class="usurio1">Senha</b>
        <input type="password" class="sm1llle"required />
        <div class="usurio-child" ></div>
      </div>
      <div class="boto" (click)="onBotoContainerClick()">
        <div class="boto1" ></div>
        <b class="entrar">Entrar</b>
      </div>
      <div class="boto2" (click)="onBotoContainerClick1()">
        <div class="boto3" ></div>
        <b class="cadastrar">Cadastrar</b>
        <div class="boto-child" ></div>
      </div>
      <div class="google">
        <div class="boto4" ></div>
        <div class="entrar-com-google">Entrar com Google</div>
        <img class="google-1-icon" alt="" src="assets/google-1@2x.png" />
      </div>
      <div class="esqueceu-a-senha">Esqueceu a senha</div>
      <div class="primeiro-acesso">Primeiro acesso</div>
      <img class="tela-login-child" alt="" src="assets/group-1341.svg" />
    </div>