<div class="categorias">
      <img class="vector-icon5" alt="" src="assets/vector.svg" />
      <img class="categorias-child" alt="" src="assets/group-1341.svg" />
      <div class="categorias1">Categorias</div>
      <div class="categorias-item" ></div>
      <div class="categorias-inner" ></div>
      <b class="alimbsicos">Alim.Básicos</b>
      <div class="h-s-18h-container1">
        <p class="blank-line13">&nbsp;</p>
        <p class="blank-line13"> 14h ás 18h</p>
      </div>
      <b class="bebidas">Bebidas</b>
      <b class="prodlimpeza">
        <span class="prodlimpeza-txt">
          <p class="blank-line13">Prod.Limpeza</p>
        </span>
      </b>
      <b class="carnes">Carnes</b>
      <b class="frutas">Frutas</b>
      <b class="padaria">
        <span class="prodlimpeza-txt">
          <p class="blank-line13">Padaria</p>
        </span>
      </b>
      <img class="categorias-child1" alt="" src="assets/rectangle-698@2x.png" />
      <img class="categorias-child2" alt="" src="assets/rectangle-709@2x.png" />
      <img class="categorias-child3" alt="" src="assets/rectangle-7101@2x.png" />
      <img class="categorias-child4" alt="" src="assets/rectangle-7081@2x.png" (click)="onRectangleImageClick()" />
      <img class="categorias-child5" alt="" src="assets/rectangle-713@2x.png" />
      <img class="categorias-child6" alt="" src="assets/rectangle-714@2x.png" />
      <div class="promo-do-dia">Promo do Dia</div>
      <img class="categorias-child7" alt="" src="assets/rectangle-6771@2x.png" />
      <div class="r-3500-arroz-container4">
        <span class="r-3500-arroz-container5">
          <p class="blank-line13">
            <b class="r-35005">R$ 35,00</b>
          </p>
          <p class="blank-line13">
              <span class="arroz-tio-joo5">Arroz Tio João</span>
          </p>
          <p class="blank-line13">
              <span class="blank-line15">&nbsp;</span>
          </p>
        </span>
      </div>
      <img class="categorias-child8" alt="" src="assets/rectangle-7051@2x.png" />
      <div class="r-2200-caf-container6">
        <span class="r-3500-arroz-container5">
          <p class="blank-line13">
            <b class="r-35005">R$ 22,00</b>
          </p>
          <p class="blank-line13">
              <span class="arroz-tio-joo5">Café Mellita</span>
          </p>
          <p class="blank-line13">
              <span class="blank-line15">&nbsp;</span>
          </p>
        </span>
      </div>
      <div class="boto13">
        <div class="boto14" ></div>
        <b class="liatados2" (click)="onLiatadosTextClick()">
          <p class="blank-line13">Listados</p>
        </b>
      </div>
    </div>