<div class="lista-dos-produtos">
      <img class="vector-icon2" alt="" src="assets/vector.svg" />
      <img class="lista-dos-produtos-child" alt="" src="assets/group-1341.svg" />
      <div class="sua-lista-de">Sua lista de compra</div>
      <img class="vector-icon3" alt="" src="assets/vector1.svg" />
      <div class="lista-dos-produtos-item" ></div>
      <div class="lista-dos-produtos-inner" ></div>
      <div class="patternschecksimple">
        <div class="checkfalse-single-line">
          <div class="selector-single">
            <div class="background" ></div>
            <img class="checked-empty-icon" alt="" src="assets/checked-empty@2x.png" />
            <div class="value">MaÇA</div>
            <div class="secondary">// Value</div>
          </div>
        </div>
        <div class="checksingle-true">
          <div class="selector-single">
            <div class="background" ></div>
            <img class="checked-empty-icon" alt="" src="assets/checked-filled@2x.png" />
            <div class="value1">Suco</div>
            <div class="secondary1">// Value</div>
          </div>
        </div>
        <div class="checkfalse-single-line1">
          <div class="selector-single">
            <div class="background" ></div>
            <img class="checked-empty-icon" alt="" src="assets/checked-empty@2x.png" />
            <div class="value2">Promotions</div>
            <div class="secondary1">// Value</div>
          </div>
        </div>
        <div class="checkfalse-single-line2">
          <div class="selector-single">
            <div class="background" ></div>
            <img class="checked-empty-icon" alt="" src="assets/checked-empty@2x.png" />
            <div class="value2">Work</div>
            <div class="secondary1">// Value</div>
          </div>
        </div>
        <div class="checkfalse-single-line3">
          <div class="selector-single4">
            <div class="background" ></div>
            <img class="checked-empty-icon" alt="" src="assets/checked-empty@2x.png" />
            <div class="value2">None</div>
            <div class="secondary1">// Value</div>
          </div>
        </div>
        <div class="checksingle-false">
          <div class="selector-single">
            <div class="background" ></div>
            <img class="checked-empty-icon" alt="" src="assets/checked-empty@2x.png" />
            <div class="value2">Spam</div>
            <div class="secondary1">// Value</div>
          </div>
        </div>
        <div class="checktrue-single-line">
          <div class="selector-single">
            <div class="background" ></div>
            <img class="checked-empty-icon" alt="" src="assets/checked-filled@2x.png" />
            <div class="value1">Arroz</div>
            <div class="secondary1">// Value</div>
          </div>
        </div>
        <div class="checkfalse-single-line4">
          <div class="selector-single">
            <div class="background" ></div>
            <img class="checked-empty-icon" alt="" src="assets/checked-empty@2x.png" />
            <div class="value2">Diary</div>
            <div class="secondary1">// Value</div>
          </div>
        </div>
        <div class="checksingle-false1">
          <div class="selector-single">
            <div class="background" ></div>
            <img class="checked-empty-icon" alt="" src="assets/checked-empty@2x.png" />
            <div class="value2">Home</div>
            <div class="secondary1">// Value</div>
          </div>
        </div>
        <div class="checksingle-false2">
          <div class="selector-single">
            <div class="background" ></div>
            <img class="checked-empty-icon" alt="" src="assets/checked-empty@2x.png" />
            <div class="value2">Trash</div>
            <div class="secondary1">// Value</div>
          </div>
        </div>
      </div>
    </div>