<div class="ofertas-bebidas">
      <img class="vector-icon4" alt="" src="assets/vector.svg" />
      <img class="ofertas-bebidas-child" alt="" src="assets/group-1341.svg" />
      <div class="ofertas-de-bebidas">Ofertas de Bebidas</div>
      <div class="ofertas-bebidas-item" ></div>
      <img class="ofertas-bebidas-inner" alt="" src="assets/rectangle-677@2x.png" />
      <div class="r-1500-coca-cola-container">
        <span class="r-1500-coca-cola-container1">
          <p class="coca-cola">
            <b class="r-15001">R$ 15,00</b>
          </p>
          <p class="coca-cola">
              <span class="coca-cola1">Coca-Cola</span>
          </p>
          <p class="coca-cola">
              <span class="blank-line1">&nbsp;</span>
          </p>
        </span>
      </div>
      <div class="h-s-18h-container">
        <p class="coca-cola">&nbsp;</p>
        <p class="coca-cola"> 14h ás 18h</p>
      </div>
      <div class="garrafa-2l">Garrafa 2l</div>
      <img class="rectangle-icon" alt="" src="assets/rectangle-705@2x.png" />
      <img class="ofertas-bebidas-child1" alt="" src="assets/rectangle-707@2x.png" />
      <img class="ofertas-bebidas-child2" alt="" src="assets/rectangle-708@2x.png" />
      <img class="ofertas-bebidas-child3" alt="" src="assets/rectangle-711@2x.png" />
      <img class="ofertas-bebidas-child4" alt="" src="assets/rectangle-710@2x.png" />
      <div class="r-3500-arroz-container">
        <span class="r-1500-coca-cola-container1">
          <p class="coca-cola">
            <b class="r-15001">R$ 35,00</b>
          </p>
          <p class="coca-cola">
              <span class="arroz-tio-joo1">Arroz Tio João</span>
          </p>
          <p class="coca-cola">
              <span class="blank-line4">&nbsp;</span>
          </p>
        </span>
      </div>
      <div class="pacote-1kg">Pacote 1kg</div>
      <div class="r-2200-caf-container">
        <span class="r-1500-coca-cola-container1">
          <p class="coca-cola">
            <b class="r-15001">R$ 22,00</b>
          </p>
          <p class="coca-cola">
              <span class="coca-cola1">Café Mellita</span>
          </p>
          <p class="coca-cola">
              <span class="blank-line1">&nbsp;</span>
          </p>
        </span>
      </div>
      <div class="pacote-500g">Pacote 500g</div>
      <div class="pacote-500g1">Pacote 500g</div>
      <div class="r-2200-caf-container2">
        <span class="r-1500-coca-cola-container1">
          <p class="coca-cola">
            <b class="r-15001">R$ 22,00</b>
          </p>
          <p class="coca-cola">
              <span class="coca-cola1">Café Mellita</span>
          </p>
          <p class="coca-cola">
              <span class="blank-line1">&nbsp;</span>
          </p>
        </span>
      </div>
      <div class="r-2200-caf-container4">
        <span class="r-1500-coca-cola-container1">
          <p class="coca-cola">
            <b class="r-15001">R$ 22,00</b>
          </p>
          <p class="coca-cola">
              <span class="coca-cola1">Café Mellita</span>
          </p>
          <p class="coca-cola">
              <span class="blank-line1">&nbsp;</span>
          </p>
        </span>
      </div>
      <div class="pacote-500g2">Pacote 500g</div>
      <div class="r-3500-arroz-container2">
        <span class="r-1500-coca-cola-container1">
          <p class="coca-cola">
            <b class="r-15001">R$ 35,00</b>
          </p>
          <p class="coca-cola">
              <span class="coca-cola1">Arroz Tio João</span>
          </p>
          <p class="coca-cola">
              <span class="blank-line1">&nbsp;</span>
          </p>
        </span>
      </div>
      <div class="pacote-1kg1">Pacote 1kg</div>
      <div class="boto11">
        <div class="boto12" ></div>
        <b class="liatados" (click)="onLiatadosTextClick()">
          <p class="coca-cola">Liatados</p>
        </b>
      </div>
    </div>